/* @import url(chota.css); */

html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto';
}
a {
    color: white;
    cursor: pointer;
}

/* modal */

.modal {
    height: 450px;
    width: 500px;
    color: white;
    box-shadow: 0px 6px 16px 0px rgba(51, 51, 51, 0.16);
    border-radius: 4px;
    color: #333333;
    text-align: center;
    position: fixed;
    bottom: 50px;
    z-index: 5;
    right: 5px;
    opacity: 1;
    background-color: white;
}

.fa-times {
    position: absolute;
    right: 10px;
    top: 6px;
    color: white;
    cursor: pointer;
}

.modal_content {
    margin-top: 20px;
}

.modal_content a {
    color: white;
    background-color: #333333;
    border-radius: 4px;
    padding: 10px;
}

/* header */

.head {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.head > img {
    z-index: -2;
    position: absolute;
    min-height: 100%;
}

.head_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    height: 90%;
}

.head_content > img {
    width: 45%;
    /* position: relative;
    top: 200px; */
    margin: 0 auto;
}

.head_content > p {
    /* position: relative;
    top: 250px; */
    color: white;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 5%;
}

.top {
    width: 100%;
}

.header {
    width: 100%;
    margin: 0 auto;
}
.nav {
    width: 100%;
    margin: 0 auto;
}

.nav-right, .small {
    display: none;
}

.links a {
    margin-right: 20px;
    color: #111111;
}

.image_not_active {
    display: none;
}

.expo {
    display: none;
}

i.down {
    display: none;
}

/* content */

.box {
    color: black;
    background-color:  #EFF1F3;
    height: 275px;
    margin: 0;
    padding-top: 50px;
    font-size: 1.5em;
    display: flex;
}

.left {
    background-color: #EFF1F3;
}

.right {
    background-color: #e5e8ea; 
}

.circle {
    background-color: #333333;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 150px;
    margin-top: 10px;
}

.box_content {
    padding-left: 30px;
}

.box_content p {
    margin-bottom: 15px;
}

.box_content p:nth-child(1) {
    font-weight: 500;
}

.box_content p:nth-child(2) {
    font-size: 0.65em;
}

/* #second-p {
    height: 73px;
} */

.circle {
    text-align: center;
}

.circle i {
    color: white;
    position: relative;
    top: 4px;
}

.box_content a {
    margin-top: 10px;
}

.box_content a:hover {
    color: white !important;
    background-color: #333333;
    transition: 0.5s;
}

/* about */

.about {
    width: 90%;
    line-height: 2em;
}

.about a {
    color: #666666 !important;
}

.about p:nth-child(1) {
    font-size: 2em;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 100px;
}

.about p:nth-child(2) {
    font-size: 1em;
    font-weight: 400;
    padding-left: 100px;
}

.available, .speak {
    cursor: pointer;
    color: #666666;
}

/* attend */

.attend p:nth-child(1) {
    font-size: 2em;
    font-weight: 500;
    padding-top: 25px;
    padding-left: 100px;
}

.new_row {
    width: 90%;
    margin: 0 auto;
}

.who a {
    position: relative;
    font-size: 1.25em;
    color: #333333;
    padding-bottom: 10px;
}

.who i {
    height: 0px;
    margin-top: 13px;
}

.att_row {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.who {
    border-bottom: 2px solid #333333;
    display: flex;
    justify-content: space-between; 
    cursor: pointer; 
    margin-right: 50px;
    margin-top: 30px;
}

.who:hover {
    border-bottom: 2px solid #e5e8ea;
    transition: 0.3s ease-in;
}

.con_l {
    display: none;
    font-size: 0.55em;
    font-weight: 400;
    max-width: 90%;
    margin-left: 15px;
    margin-top: 20px;
}

.con_r {
    display: none;
    font-size: 0.55em;
    font-weight: 400;
    max-width: 70%;
    margin-top: 20px;
}

.is-active {
    display: block !important;
}

.is-not {
    display: none !important;
}

.con_l > p, .con_r > p{
    font-size: 1.5em !important;
    padding: 0 !important;
}

/* speakers */

.speakers {
    height: 600px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.speakers p:nth-child(1) {
    font-size: 2em;
    font-weight: 500;
    padding-top: 25px;
    padding-left: 100px;
}

.carousel {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.s-cards {
    display: flex; 
    margin-top: 5%;
}

.next, .prev {
    height: 10px;
    cursor: pointer;
}

.speaker-card {
    height: 300px;
    width: 200px !important;
    /* margin-left: 7%; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 24px 35px -12px rgba(102, 102, 102, 0.16);
    text-align: center;
    margin-bottom: 30%;
    cursor: pointer;
}

.glide__slides {
    text-align: -webkit-center;
    overflow: visible !important;
}

#name {
    padding-top: 3%; 
    font-weight: 600;
    margin: 0;
}

#work {
    margin-top: 8px;
    font-size: 12px;
}

.speakers img {
    clip-path: circle(100% at 50% 0);
    -webkit-clip-path: circle(100% at 50% 0);
}

/* prices */

.prices {
    margin-top: 50px;
    height: 600px;
    max-width: 100%;
    background-color: #EFF1F3;
}

.prices > p {
    font-size: 2em;
    font-weight: 500;
    padding-top: 35px;
    padding-left: 100px;
}

.rows {
    display: flex;
    justify-content: center;
}

.cards {
    text-align: center;
    background-color: white;
    width: 250px;
    height: 400px;
    margin: 50px 30px 0 30px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
}

.cards a {
    margin-top: 25px;
}
.early {
    margin-top: 30px;
}

.onsite {
    margin-top: 20px;
}

.early a {
    margin-top: 20px;
    font-size: 2.5em;
    color: #666666 !important;
}

.onsite a {
    margin-top: 20px;
    font-size: 2.5em;
    color: #666666 !important;
}

.early > p {
    margin-top: 10px;
    font-size: 0.85em;
    margin-bottom: 0;
}

.onsite > p {
    margin-top: 10px;
    font-size: 0.85em;
    margin-bottom: 0;
}

.cards:hover {
	-webkit-animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-bottom {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px) translateY(-12px);
        transform: translateZ(50px) translateY(-12px);
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-bottom {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px) translateY(-12px);
        transform: translateZ(50px) translateY(-12px);
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }

  /* Sessions */

  .sessions > p {
    font-size: 2em;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 100px;
  }

  table {
      width: 80%;
      margin: 0 auto;
  }

  td {
      max-width: 300px;
  }
  
  .headings {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
  }

  .headings p {
      width: 300px;
      font-weight: 500;
  }

  .ses_card {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .pres_title p {
      font-weight: 500;
  }

  .ses_card p {
      width: 300px;
  }

  

  /* Schedule */

  .schedule {
      /* height: 80vh; */
      padding-bottom: 50px; 
  }
  .schedule > p {
    font-size: 2em;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 100px;
  }

  .date_sel {
    display: flex;
    justify-content: center;
  }

  .date_ev {
      font-size: 1.5em !important;
      font-weight: 500;
      padding-top: 50px;
      
  }

  .table_ev {
    margin: 0 auto;
  }

  .head_ev {
    display: flex;
    justify-content: space-evenly;
  }

  .card_ev {
      display: flex;
      justify-content: center;
      background: white;
      width: 50%;
      margin: 0 auto;
      padding-top: 15px;
      border-radius: 4px;
      margin-top: 10px;
  }

  .card_ev > p {
    width: 200px;
  }

  .card_ev p:first-child {
    font-size: 1.25em;
    color: #F7941D;
    font-weight: 700;
    max-width: 150px;
  }

  .card_ev:nth-child(2n) p:first-child {
    color: #666666;
  }

  .card_ev p:nth-child(2) {
    width: 300px;
    margin-left: 30px;
  }

  .card_ev p:first-child {
    border-right: 3px solid #191919;
  }

  /* sponsor */

  .sponsor p:nth-child(1) {
    font-size: 2em;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 100px;
  }

  .sponsor p:nth-child(2) {
    font-size: 1em;
    font-weight: 400;
    padding-left: 100px;
    width: 90%;
  }

  .sponsor .row .col p {
      font-size:1.25em;
  }

  .sponsor .row .col ul {
      margin-left: 100px;
  }

  /* footer */

  .footer {
      margin-top: 50px;
      background-color: #333333;
      color: white;
      padding-top: 60px;
      padding-bottom: 50px;
  }

  .foots {
      display: flex;
      justify-content: center;
  }

  /* .foot1 {
    position: relative;
    left: 350px;
  } */

  .foot1 {
    margin-right: 20%;
  }

  .address a {
      color: white !important;
  }

  /* .foot2 {
      position: relative;
      right: 350px;
  } */

  .foot2 {
    margin-left: 20%;
  }

  .social i {
      margin-right: 20px;
  }

  .last-year {
      margin-top: 20px;
  }

  .last-year > a {
      color: #666666;
  }

  /* subscription */
/* 
  .call {
      position: fixed;
      bottom: 50px;
      right: 50px;

  } */
  .subscribe {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #FF6B6C;
      position: fixed;
      bottom: 30px;
      right:50px;
      font-size: 1.5em; 
      color: white;
      text-align: center;
      visibility: hidden;
      cursor: pointer;
      display: none;
  }
/* 
  .subscribe {
      background-color: #666666;
      position: fixed;
      bottom: 0px;
      text-align: center;
      width: 100%;
      color: white;
      height: 100px;
      padding-top: 20px;
  }

  .subscribe p {
    
  }

  .subscribe a {
      background-color: #e5e8ea;
      color:#333333;
      border-radius: 4px;
      padding: 10px;
      font-size: 14px;
  } */

  /* media queries */

  @media (min-width: 300px) and (max-width: 768px) {
    
    .main_image {
        display: none;
    }

    .head {
        background-color:#191919; 
    }

    .head_content > img {
        width: 75%;
        margin: 0 auto;
    }

    .modal {
        display: none;
    }

    .row {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .big {
        display: none;
    }
    
    .nav-right {
        display: flex;
        justify-content: flex-end;
        -webkit-box-pack: end;
    }

    .small {
        height: 100%;
    }

    .mob_links {
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        z-index: 2;
        margin: 0;
        right: 0;
        opacity: 0.99;
    }

    .small_active {
        display: block;
    }

    .mob_links a {
        color: white;
        margin-top: 20px;
    }
    
    .hamburger {
        z-index: 4;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: #fff !important;
        width: 30px !important;
    }

    .hamburger-box {
        width: 30px !important;
        height: 14px !important;
    }

    .box {
        padding-top: 20px;
        height: 350px;
    }

    .head_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .head_content > p {
        color: #fff;
        font-size: 1.1em;
        position: relative;
        top: 10px;
    }

    .expo {
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }

    .expo p:nth-child(1) {
        margin-left: 20px; 
    }

    .expo_p {
        color: #FFF;
        margin-right: 20px;
        font-size: 1em;
    }

    .expo_dot {
        margin-right: 20px;
        font-size: 4em;
        position: relative;
        bottom: 43px;
    }

    i.down {
        display: inline-block;
        color: #fff;
        font-size: 2em;
    }

    #second-p {
        height: inherit;
    }

    .circle {
        margin-left: 40px;
    }

    .box_content {
        margin-right: 30px;
    }

    .about p:nth-child(1) {
        padding-left: 40px;
    }

    .about p:nth-child(2) {
        padding-left: 40px;
    }

    .attend p:nth-child(1) {
        padding-left: 40px;
    }

    .new_row {
        width: 100%;
    }

    .att_row {
        margin: 0 0 0 40px;
    }

    .who {
        margin-right: 10px;
    }

    .con_l, .con_r {
        /* margin-left: 50px; */
        margin-top: 0px;
    }

    .prices > p {
        padding-left: 40px;
    }

    .prices {
        height: 100%;
        padding-bottom: 40px
    }

    .rows {
        flex-direction: column;
        align-items: center; 
    }

    .cover {
        display: flex;
        justify-content: center;
    }

    .early {
        margin-right: 50%;
    }
    
    .cards {
        height: 200px;
        width: 90%;
    }

    .early, .onsite {
        margin-top: 0;
    }

    .early a, .onsite a {
        font-size: 1em;
    }

    .cards a {
        margin: 0;
    }

    .schedule > p {
        padding-left: 40px;
    }
    .card_ev p:first-child {
        font-size: 1em;
    }

    .card_ev p:nth-child(2) {
        font-size: 0.85em;
    }

    .sessions > p {
        padding-left: 40px;
    }

    .ses_card {
        flex-direction: column;
    }

    .sponsor p:nth-child(1) {
        padding-left: 40px;
    }

    .sponsor p:nth-child(2) {
        padding-left: 40px;
    }

    .sponsor .row .col ul {
        margin-left: 40px
    }

    .foots {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foot1 {
        position: relative;
        left:20px;
        margin: 0;
    }

    .foot2 {
        position: relative;
        margin: 0;
        top: 20px;
        right: 0px;
    }

    .subscribe {
        display: block;
    }

    .speakers {
        height: 100%;
    }

    .carousel {
        text-align: center;
    }

    .speakers p:nth-child(1) {
        padding-left: 40px;
    }

    .speakers img {
        width: 50%;
        clip-path: circle(40% at 50% 50%);
        -webkit-clip-path: circle(40% at 50% 50%);
    }
    
    .more_speakers {
        color: #333333;
        border: 2px solid #666666;
        margin: 0 auto;
        border-radius: 4px;
        padding: 10px; 
        width: 150px;
    }

    .more_speakers:hover {
        color: #e5e8ea;
        background: #333333;
    }
  }

  @media (min-width:768px) and (max-width:1200px) {
    
    .nav-right {
        display: none;
    }

    .box {
        padding-top: 20px;
    }
    
    .circle {
        margin-left: 40px;
    }

    .box_content {
        margin-right: 30px;
    }

    .about p:nth-child(1) {
        padding-left: 40px;
    }

    .about p:nth-child(2) {
        padding-left: 40px;
    }

    .attend p:nth-child(1) {
        padding-left: 40px;
    }

    .att_row {
        margin: 0 0 0 40px;
    }

    .con_l, .con_r {
        margin-left: 50px;
        margin-top: 0px;
    }

    .prices > p {
        padding-left: 40px;
    }

    .prices {
        height: 100%;
        padding-bottom: 40px
    }

    .rows {
        flex-direction: column;
        align-items: center; 
    }

    .cover {
        display: flex;
        justify-content: center;
    }

    .early {
        margin-right: 50%;
    }
    
    .cards {
        height: 200px;
        width: 90%;
    }

    .early, .onsite {
        margin-top: 0;
    }

    .early a, .onsite a {
        font-size: 1em;
    }

    .cards a {
        margin: 0;
    }

    .sponsor p:nth-child(1) {
        padding-left: 40px;
    }

    .sponsor p:nth-child(2) {
        padding-left: 40px;
    }

    .sponsor .row .col ul {
        margin-left: 40px
    }

    .foot1 {
        left:20px;
    }

    .foot2 {
        right: 0px;
    }

  }
 
@media (min-width:1200px) {
    .circle {
        margin-left: 100px;
    }

    .box_content p:nth-child(2) {
        max-width:85%;
    }

    .box_content {
        margin-right: 20px;
    }
}